.container
{
    text-align: center;
    margin: auto;
    font-style: normal;
    border: solid 1px;
    background-color: rgba(255, 0, 0, 0.5);
}

li
{   display: inline;
    padding: 8px;
}
.button
{
    margin-top: 5px;
}